// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
body
  text-shadow: 0.01em 0.01em 0.01em #999999 !important
