<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            © 2020 <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a> &
            <a href="https://console.upyun.com/register/?invite=HyBuD3DXM" title="又拍云" target="_blank">
              <img src="//cdn.reorz.com/images/2017/02/UPYUN-Logo.png" alt="UPYUN" class="upyun-logo">
            </a>
        </span>
    </div>
</footer>
