<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            &copy; 2015-2020 <%= config.author %> | Elegant theme by Chic | <a href="https://status.orz.sh" target="_blank">Status</a>
            <br>
            <a href="https://console.upyun.com/register/?invite=HyBuD3DXM" title="又拍云" target="_blank">
                <img src="https://cdn.reorz.com/images/2017/02/UPYUN-Logo.png" alt="UPYUN" class="upyun-logo">
            </a>
        </span>
    </div>
</footer>
