<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            &copy; 2015-2025 <%= config.author %> | Elegant theme by Chic | <a href="https://status.ssr.li" target="_blank">Status</a>
            <br>
            <a href="https://www.netcup.com/en/?ref=272309" title="netcup" target="_blank">
                <img src="https://cdn.ssr.li/images/2025/05/netcup-logo.png" alt="netcup" class="netcup-logo">
            </a>
            <a href="https://www.dmit.io/aff.php?aff=9762" title="DMIT" target="_blank">
                <img src="https://cdn.ssr.li/images/2025/05/dmit-logo.png" alt="DMIT" class="dmit-logo">
            </a>
        </span>
    </div>
</footer>
